<div class="container">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cat of categoriesList">
      <td>{{cat.id}}</td>
      <td>{{cat.name}}</td>
    </tr>
    </tbody>
  </table>
</div>

<hr>

<div class="container">
  <div class="card">
    <h3 class="card-header">Details</h3>
    <div class="card-body">
      <div class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">{{category.id}}</dd>
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">{{category.name}}</dd>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <h3>Add a new category</h3>
  <form [formGroup]="newCategory">
    <div class="alert alert-danger" *ngIf="invalidForm">{{errorMessage}}</div>
    <div class="form-row">
      <div class="form-label-group">
        <input class="form-control" required id="category" placeholder="Category name" formControlName="name"
               type="text">
        <label for="category">Category name</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <button class="btn btn-dark" (click)="submitCategory()">Add Category</button>
      </div>
    </div>
  </form>
</div>


